#gitignore 件的格式规范：
#   所有空行或者以注释符号 # 开头的都会被 git 忽略。
#   可以使用标准的 glob 模式匹配。
#   匹配模式最后反斜杠（/）说明要忽略的是目录。
#   要忽略指定模式以外的件或目录，可以在模式前面添加惊叹号(!)取反。
#glob 模式是指 shell 所用的简化了的正则表达式
#*   匹配零个或多个任意字符
#[abc]  匹配任何一个列在方括号中的字符  *.[oa]  任何以.o或.a结尾的件
#?  匹配一个任意字符
#[0-9]  这两个字符范围内的都可以匹配
#
##git忽略举例
#*.a     #忽略所有 .a 结尾的件
#!lib.a   #但 lib.a 除外
#/todo    #仅忽略项目更目录下的 todo 件，不包括 subdir/todo
#build/    #忽略 build/ 目录下的所有件
#doc/*.txt   #会忽略 doc/notes.txt 但不包括 doc/server/notes.txt 件
